        <li>
            <h3><%= "#{customer.name} (id: #{customer.fb_id})" %></h3>
            <p class="status">Needed Consolidation? <%= customer.needed_consolidation %></p>
            <% if customer.has_committed %>
                <p class="status">This customer has a committed priority 3 order.  It will not be included in the consolidation</p>
            <% end %>
            <p class="status">Line Items Needed Consolidation? <%= customer.line_items_needed_consolidation %></p>
            <h4>Original Orders (<%= customer.sales_orders.count %>)</h4>
            <ul class="sales_orders">
                <% customer.sales_orders.each do |sales_order| %>
                    <li>
                        <h5>Order Num <%= sales_order.num %>: </h5>
                        <%= render partial: "order_consolidations/sales_order", object: sales_order %>
                    </li>  
                <% end %>
            </ul>
            <% if customer.needed_consolidation %>
                <h4>Consolidated Orders</h4>
                <ul class="sales_orders">
                    <li>
                        <h5>Pickable Order:</h5>
                        <%= render partial: "order_consolidations/sales_order", object: customer.pickable_order if customer.pickable_order %>
                    </li>  
                    <li>
                        <h5>Not Pickable Order:</h5> 
                        <%= render partial: "order_consolidations/sales_order", object: customer.not_pickable_order if customer.not_pickable_order %>
                    </li>  
                </ul>
            <% end %>
        </li>