<table id="sales_order">
    <div class="address">
        <%= sales_order.bill_to_name if sales_order.bill_to_name %><br>
        <%= sales_order.bill_to_address if sales_order.bill_to_address %><br>
        <%= "#{sales_order.bill_to_city}, #{sales_order.bill_to_state} #{sales_order.bill_to_zip}" if (sales_order.bill_to_city || sales_order.bill_to_state || sales_order.bill_to_zip) %><br>
        <%= sales_order.bill_to_country if sales_order.bill_to_country %><br>
        <%= "This sales order is committed" if sales_order.committed %><br>
    </div>
    <tr>
        <th>Product Number</th>
        <th>Qty to Fulfill</th>
        <th>Qty Pickable Before Consolidation</th>
        <th>Qty Pickable After Consolidation</th>
    </tr>
    <% sales_order.sales_order_items.each do |sales_order_item| %>
        <tr>
            <td><%= sales_order_item.product_num %></td>
            <td><%= sales_order_item.qty_to_fulfill %></td>
            <td><%= sales_order_item.qty_pickable_from_fb %></td>
            <td><%= sales_order_item.qty_pickable %></td>
        </tr>
    <% end %>
</table>