<h1>Order Consolidation <%= @order_consolidation.id %></h1>
<ul id="customers">
    <h2>NEEDED CONSOLIDATION (<%= @order_consolidation.customers.needed_consolidation.count %>)</h2>
    <% @order_consolidation.customers.needed_consolidation.each do |customer| %>
        <%= render customer %> 
    <% end %>
    <h2>DID NOT NEED CONSOLIDATION (<%= @order_consolidation.customers.did_not_need_consolidation.count %>)</h2>
     <% @order_consolidation.customers.did_not_need_consolidation.each do |customer| %>
        <%= render customer %> 
    <% end %>
</ul>
